section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.sideNavigation
{
    height: 100%;
    width: 200px;
    text-align: center;
    cursor:default;
    background:#2c3e50;
    flex-grow: 0;
}
.Contents
{
    padding-left: 20px;
    background:white;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}
.Contents::-webkit-scrollbar {
    display: none;
}

