

<h1 class="page-header">Student Profile

    <input type="button" class="btn btn-danger" value="Log Out" style="margin-left: auto;" (click)="Logout()">

</h1>
<div class = "container">
    <div class="col-md-4" >
        <ul class="list-group" style="display: flex; flex-direction:row;   ">
            <li class="list-group-item"  >Roll No : {{username}}</li>
            <li class="list-group-item" style="margin-left: 10px;" >Class Prefix: {{batch}}</li>
          </ul>
          <ul class="list-group" >
            
          </ul>
    </div>
    
</div>

  
