
<h1 class="page-header">Edit Blog</h1>
<div class="row show-hide-message" *ngIf="message">
    <div [ngClass]="messageClass">
        {{message}}
    </div>
</div>

<form (submit)="updateBlogSubmit()">
    <div class="form-group">
        <label for="title">Title</label>
        <input [disabled]="processing" type="text" name="title" placeholder="Blog Title"
        class="form-control" [(ngModel)]="blog.title"/>
    </div>
    <div class="form-group">
        <label for="title">Body</label>
       <textarea [disabled]="processing" name="body" rows="8" cols="80" place="Blog Body" [(ngModel)]="blog.body"
       class="form-control"></textarea>
    </div>
    <a [routerLink]="['/delete-blog/',blog._id]"><button type="button" name="button" class="btn btn-danger">Delete</button></a>
    <button type="button" name="button" class="btn btn-success"(click)="goBack()">GoBack</button>
    <button type="submit" name="button" class="btn btn-info">Submit</button>
    

</form>