

<div class="container" style="margin-top: 15%;">
    <div class="row show-hide-message">
        <div class="row show-hide-message">
            <div [ngClass]="messageclass">
                {{message}}
            </div>
        </div>
    
    </div>
    <form [formGroup] = "form"  (submit)="onRegisterSubmit()">  
        <div class="form-group">
            <h1 style="text-align: center;">Student Login</h1>
           <label for="username">Batch</label>
            <div  [ngClass]="{'has-error' : (form.controls.batch.errors && form.controls
            .batch.dirty),'has-success' : !form.controls.batch.errors}">
                <input type="text" name="batch" class="form-control" autocomplete="off" placeholder="Eg : 18mxians" formControlName="batch"/>
            </div>
            <ul class="help-block">
                <li *ngIf="form.controls.batch.errors?.required && form.controls.batch.dirty">
                    This field is required
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <div  [ngClass]="{'has-error' : (form.controls.username.errors && form.controls
            .username.dirty),'has-success' : !form.controls.username.errors}">
                <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Roll No" formControlName="username"/>
            </div>
            <ul class="help-block">
                <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
                    This field is required
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div>
                <input type="password" name="password" class="form-control" autocomplete="off" placeholder="Password" formControlName="password"/>
            </div>
            <ul class="help-block">
                <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
                    This field is required
                </li>
             
            </ul>
        </div>
        <input [disabled]='!form.valid || processing' type="submit" class="btn btn-primary" value="Submit"/>
    </form>  
</div>