

<div class="container" style="margin-top: 5%;">
    <div class="row show-hide-message">
        <div class="row show-hide-message">
            <div [ngClass]="messageclass">
                {{message}}
            </div>
        </div>
    </div>
    <form [formGroup] = "form"  (submit)="onRegisterSubmit()">  
        <!-- <div class="form-group">
            <h1 style="text-align: center;">Student Login</h1>
           <label for="username">Batch</label>
            <div  [ngClass]="{'has-error' : (form.controls.batch.errors && form.controls
            .batch.dirty),'has-success' : !form.controls.batch.errors}">
                <input type="text" name="batch" class="form-control" autocomplete="off" placeholder="Eg : 18mxians" formControlName="batch"/>
            </div>
           </div> -->
        <div class="form-group">
            <h1 style="text-align: center;">Student Login</h1>
            <label for="bg">Batch</label>
            <select class="form-control" name="batch"  formControlName="batch">
                <option value="" disabled hidden>Select your Batch</option>
                 <option *ngFor="let c of col" value="{{c}}" >{{c}}</option> 
                  </select>
        </div> 
        <div class="form-group">
            <label for="username">Username</label>
            <div  [ngClass]="{'has-error' : (form.controls.username.errors && form.controls
            .username.dirty),'has-success' : !form.controls.username.errors}">
                <input type="text" name="username" class="form-control" autocomplete="off" placeholder="Roll No" formControlName="username"/>
            </div>
            <ul class="help-block">
                <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">
                    This field is required
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div>
                
                <input type="password" name="password" class="form-control" autocomplete="off" placeholder="Password" formControlName="password"/>
            
                <div style="text-align: right;">
                    
                    <a style="color: red;"  routerLink="/studentForgotPassword"> Forgot Password?</a>
                   </div>
            </div>
            <ul class="help-block">
                <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">
                    This field is required
                </li>
             
            </ul>
        </div>
        <input [disabled]='!form.valid || processing' type="submit" class="btn btn-primary" value="Submit"/>

        
    </form>  
</div>