
<div class="row" *ngIf="mainPage">
    <div class="col-md-3 col-md-offset-4">
        <h1 class="page-header" style="text-align: center; letter-spacing: 10px; font-family: fantasy;">BLOG</h1>
        <div class="form-group" style="text-align: center; ">
            Select Page
            <select class="form-control"  #page  [(ngModel)]="selectedPage"  (click)="PageSelector()" >
                <option value="MxiansPage">MxiansPage</option>
                 <option *ngFor="let p of pages"  value="{{p}}" >{{p}}</option> 
                  </select>
        </div> 
    </div>
</div>

<div class="row show hide-message" style="margin-left: 2%;margin-top: 2%;width: 40%;"  *ngIf="message && newPost">
    <div [ngClass]="messageClass">
        {{message}}
    </div>
</div>
<button type="button" name="button" class="btn btn-warning" *ngIf="mainPage && pageChoosed"(click)="newBlogForm()">New Post</button> 

<button style="margin-left: 1%;" [disabled]="loadingBlogs" type="button" name="button" class="btn btn-danger" *ngIf="mainPage && pageChoosed"(click)="reloadingBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>

<!--NEW BLOG FORM-->

<!--Title-->
<br><br>
 <form [formGroup]="form" style="width: 90%; margin-left: 2%;"  name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
    <div class="form-group">
        <label for="title" >Title</label>
        <div [ngClass]="{'has-success':form.controls.title.valid,'has-error':form.controls.title.dirty && form.controls.title.errors}">

            <input type="text" name="title" class="form-control" placeholder="Blog Title" autocomplete="off" formControlName="title"/>
            <ul class="help-block">
                <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This Field is required</li>
                <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength)||(form.controls.title.dirty && form.controls.title.errors?.maxlength)">maxlength:30,minlength:5</li>
            </ul>
        </div>
    </div>
</form> 

<!--Body-->
 <form [formGroup]="form" style="width: 90%; margin-left: 2%;" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
    <div class="form-group">
        <label for="body" >Body</label>
        <div [ngClass]="{'has-success':form.controls.body.valid,'has-error':form.controls.body.dirty && form.controls.body.errors}">

           <textarea name="body" rows="8" cols="80" placeholder="body"class="form-control" formControlName="body" ></textarea>
            <ul class="help-block">
                <li *ngIf="form.controls. body.dirty && form.controls.body.errors?.required">This Field is required</li>
                <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength)||(form.controls.body.dirty && form.controls.body.errors?.maxlength)">maxlength:500,minlength:5</li>
            </ul>
        </div>
    </div>

    <div class="form-group">
        <label for="title" >Upload File</label>
        
              
        <input type="file" class="form-control" formControlName="file" name="image" id="selectImage" ng2FileSelect [uploader]="uploader"/> 
            <br>
              <!-- <button (click)="download()">Download</button> -->
              <button type="button" style="margin-left: 5%;" class="bnt btn-info btn-xs" id="uploadimage"   (click) = "uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                Upload  
            </button>

             
            <h5 *ngIf="complete" style="margin-left:1%;">Uploaded Successfully</h5>

     </div>

    <div class="form-group" style="width: 25%;">
        <label for="bg">To: </label>
        <select class="form-control" formControlName="page" >
            <option disabled hidden value="Select Page">Select Page</option>
            <option value="MxiansPage">MxiansPage</option>
             <option *ngFor="let p of pages"  value="{{p}}" >{{p}}</option> 
              </select>
    </div> 
    

    <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
 <button [disabled]="processing||!form.valid" type="submit" style="margin-left: 
 2%;" name="button"  class="btn btn-success">Submit</button>
 
</form>



 <div *ngIf="mainPage">
     <div style="width: 98%;" class="panel panel-primary" *ngFor="let blog of blogPosts">
        <ul class="list-group">
            <li class="list-group-item">
         <div class="panel-heading" style=" background:#2c3e50;">
             <h3 class="panel-title" style="color: white;">{{blog.title}}</h3>
            
         </div>
            </li>
         <li class="list-group-item">
         <div class="panel-body">
            <a (click)="download(blog.file, blog.title)" style="cursor: pointer; margin-left: 90%;"  *ngIf="blog.file" > Attachment </a>
            <br>

            {{blog.body}}
        
          
         </div>
         </li>
         <li class="list-group-item">
         <div class="panel-footer">
             <strong>Posted by:</strong>{{blog.createdBy}}
             <br/>
            <strong>Date:</strong>{{blog.createdAt | date:'MMM dd,yyyy'}}
             <br/>
         </div>
         <br>
         <a   *ngIf="username == blog.createdBy "><button type="button" name="button" class="btn btn-sm btn-info" (click)="onEdit(blog, blog._id)">Edit</button></a>
         <a  style="margin-left: 1%; ;" *ngIf="username == blog.createdBy "><button type="button" name="button" class="btn btn-sm btn-danger" (click)="onDelete(blog, blog._id)">Delete</button></a>
        </li>
        
        </ul>
     </div>
 </div>

 <div *ngIf="editPost">
   <h1 class="page-header">Edit Blog</h1>
<div class="row show-hide-message" style=" margin-left: 2% ;width: 40%;" *ngIf="message">
    <div [ngClass]="messageClass">
        {{message}}
    </div>
</div>
    <form (submit)="updateBlogSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input [disabled]="processing"  type="text" name="title" placeholder="Blog Title"
                class="form-control" [(ngModel)]="this.selectedBlog.title"  value="{{this.seletedBlog.title}}"/>
        </div>
        <div class="form-group">
            <label for="title" >Body</label>
           <textarea [disabled]="processing" name="body" rows="8" cols="80" place="Blog Body" [(ngModel)]="this.selectedBlog.body"
           class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="title" >Upload File</label>      
            <input type="file" class="form-control" formControlName="file" name="image" id="selectImage" ng2FileSelect [uploader]="uploader"/> 
                <br>
                  <!-- <button (click)="download()">Download</button> -->
                  <button type="button" style="margin-left: 5%;" class="bnt btn-info btn-xs" id="uploadimage"   (click) = "uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    Upload  
                </button>
                <h5 *ngIf="complete" style="margin-left:1%;">Uploaded Successfully</h5>
    
         </div>
        <button type="button" style="margin-left: 1%;" name="button" class="btn btn-success"(click)="goBack()">GoBack</button>
        <button type="submit" style="margin-left: 1%;" name="button" class="btn btn-info">Submit</button>
        
    
    </form>
 </div>


 <div *ngIf="deletePost">

    <h1 class="page-header">Delete Blog</h1>
    

    <div class="col-md-6" *ngIf="foundBlog">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h3 >{{this.selectedBlog.title}}</h3>
            </div>
            <div class="panel-body" >
               {{this.selectedBlog.body}}
            </div>
            
  </div>
  <br><br>
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" name="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure would you like to delete this blog?</p>
             </div>
             <div class="modal-footer">
             <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteBlog()">Yes</button>
            <button [disabled]="processing" type="button" name="button" class="btn btn-danger" (click)="goBack()">No</button>
           </div>
        </div>
<br>
        <div class="row show-hide-message" style=" margin-left: 2% ;width: 40%;" *ngIf="message">
            <div [ngClass]="messageClass">
                {{message}}
            </div>
        </div>
          
    </div>
    
    
      

 </div>