
<div class="container" *ngIf="value" class="alert" > 
    <div class="card" style="width:50%;  ">
        <div class="card-body">
          <h3 class="card-title"><strong>Illegal Access</strong></h3>
          <p class="card-text">You Must Login to Access this content. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/adminlogin" class="card-link">Login</a></p>
        </div>
      </div>
</div>

<!-- <div *ngIf="!value">
    <h1 class="page-header">Admin Profile
        <input type="button" class="btn btn-danger" value="Log Out" style="margin-left: auto;" (click)="Logout()">
    </h1>
    <ul class="list-group">
        <li class="list-group-item">Username : {{username}}</li>
      </ul>
</div> -->
<section *ngIf="!value">
  <div class="sideNavigation">
    <ul class="nav">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="createClass()" >
        <i class="fa fa-plus-circle" aria-hidden="true"></i>  Create Class</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="createFaculty()" >
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Create Faculty</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="createPage()" >
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Create Page</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  (click)="deleteClass()">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Class</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="deleteStudent()" >
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Student</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="deleteFaculty()" >
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Faculty</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="deletePage()" >
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Page</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="Logout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
   </ul>   
  </div>
  <div class="Contents">
    <div class="row">
      <div>
        <div *ngIf="cclass">
          <div class="container" style="margin-top: 1%;">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading " style="display: flex; flex-direction: row; background:#2c3e50;" >
              
                      <h1 style="color: white;">Create Class</h1>
                     </div>
                  <div class="panel-body">
                    
                      <div class="row">
                          <div class="col-md-12">
                              <div  class="form-group">
                              <label for="roll">Mxians</label>
                              <input type="text"  #mxian class="form-control" placeholder="Enter Batch" name="mxian" id="mxian" value="">
                          </div>
                            <div class="form-group">
                              <label for="pass">Class Prefix</label>
                              <input type="text"  #prefix class="form-control" placeholder="Enter Prefix" name="prefix" id="prefix" value="">
                          </div>
                          <div class="form-group">
                              <label for="batch">Starting RollNo</label>
                              <input type="number" #sroll class="form-control" placeholder="Eg: 101" name="sroll"  id="sroll" value="">
                          </div>
                          <div class="form-group">
                              <label for="name">Ending RollNo</label>
                              <input type="number" class="form-control" #eroll name="eroll" placeholder="Eg : 120" id="eroll" value="">
                          </div> 
                          <div class="form-group">
                            <h6 *ngIf="classCreated" class="alert alert-success" style="font-size: 12px; text-align: center;">Class Created Successfully</h6>
                            <button type="submit"  class="btn btn-sm btn-success" (click)="classCreation(mxian.value,prefix.value,sroll.value,eroll.value)">Create Class</button>
              
                        </div>

                      </div>  
                </div>
               
                </div>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="dclass">
          <div class="container" style="margin-top: 1%;">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading " style="display: flex; flex-direction: row; background:#2c3e50;" >
                      <h1 style="color: white;">Delete Class</h1>
                     </div>
                  <div class="panel-body">
                            <!-- <input type="button" class="btn btn-success" value="Dashboard" style="margin-left: auto;" (click)="dashboard()"> -->
                      <div class="row">
                          <div class="col-md-12 md-offset-4">
                            <div class="form-group">
              
                              <label for="bg">Batch</label>
                              <select class="form-control"  #mxian  >
                                  <option disabled hidden>Enter Batch</option>
                                   <option *ngFor="let c of col"  value="{{c}}" >{{c}}</option> 
                                    </select>

                          </div> 
                          <div class="form-group">
                            <h6 *ngIf="classDeleted" class="alert alert-success" style="font-size: 12px; text-align: center;">Class Deleted Successfully</h6>
                            <button type="submit"  class="btn btn-sm btn-danger" (click)="classDeletion(mxian.value)">Delete Class</button>
              
                        </div>
                        
                      </div>  
          
                </div>
               
                </div>
                </div>
              </div>
            </div>
        </div>
        
        <div *ngIf="cstudent">
          <div class="container" style="margin-top: 1%;">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading " style="display: flex; flex-direction: row; background:#2c3e50;" >
                      <h1 style="color: white;">Delete Student</h1>
                     </div>
                  <div class="panel-body">
                            <!-- <input type="button" class="btn btn-success" value="Dashboard" style="margin-left: auto;" (click)="dashboard()"> -->
                      <div class="row">
                          <div class="col-md-12 md-offset-4">
                            <div class="form-group">
              
                              <label for="bg">Batch</label>
                              <select class="form-control"  #mxian  >
                                  <option disabled hidden>Enter Batch</option>
                                   <option *ngFor="let c of col"  value="{{c}}" >{{c}}</option> 
                                    </select>

                          </div> 
                          <div  class="form-group">
                            <label for="roll">Roll No</label>
                            <input type="text"  #roll class="form-control"  name="roll" id="roll"  value="" >
                        </div>
                        <div class="form-group">
                          <h6 *ngIf="studentDeleted" class="alert alert-success" style="font-size: 12px; text-align: center;">Student Deleted Successfully</h6>
                          <button type="submit"  class="btn btn-sm btn-danger" (click)="studentDeletion(mxian.value, roll.value)">Delete Student</button>
  
                      </div>
                          
                      </div>  
          
                </div>
               
                </div>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="cfaculty">
          <div class="container" style="margin-top: 1%;">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading " style="display: flex; flex-direction: row; background:#2c3e50;" >
                      <h1 style="color: white;">Create Faculty</h1>
                     </div>
                  <div class="panel-body">
                            <!-- <input type="button" class="btn btn-success" value="Dashboard" style="margin-left: auto;" (click)="dashboard()"> -->
                      <div class="row">
                          <div class="col-md-12 md-offset-4">
                            <div class="form-group">
                              <label for="batch">Name</label>
                              <input type="text" #name class="form-control" name="name" id="name"    value="">
                          </div>
                              <div  class="form-group">
                              <label for="roll">Faculty Id</label>
                              <input type="text"  #facid class="form-control"  name="facid" id="facid"  value="" >
                          </div>
                          <div class="form-group">
                            <h6 *ngIf="facultyCreated" class="alert alert-success" style="font-size: 12px; text-align: center;">Facuty Created Successfully</h6>
                            <button type="submit"  class="btn btn-sm btn-success" (click)="facultyCreation(name.value, facid.value)">Create Faculty</button>
    
                        </div>
                       
                    
                          
                      </div>  
          
                </div>
               
                </div>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="dfaculty">
          <div class="container" style="margin-top: 1%;">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading " style="display: flex; flex-direction: row; background:#2c3e50;" >
                      <h1 style="color: white;">Delete Faculty</h1>
                     </div>
                  <div class="panel-body">
                            <!-- <input type="button" class="btn btn-success" value="Dashboard" style="margin-left: auto;" (click)="dashboard()"> -->
                      <div class="row">
                          <div class="col-md-12 md-offset-4">
                              <div  class="form-group">
                              <label for="roll">Faculty Id</label>
                              <input type="text"  #facid class="form-control"  name="facid" id="facid"  value="" >
                          </div>
                          <div class="form-group">
                            <h6 *ngIf="facultyDeleted" class="alert alert-success" style="font-size: 12px; text-align: center;">Faculty Deleted Successfully</h6>
                            <button type="submit"  class="btn btn-sm btn-danger" (click)="facultyDeletion(facid.value)">Delete Faculty</button>

                        </div>
                            
                          
                      </div>  
          
                </div>
               
                </div>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="cpage">
          <div class="container" style="margin-top: 1%;">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading " style="display: flex; flex-direction: row; background:#2c3e50;" >
                      <h1 style="color: white;">Create Page</h1>
                     </div>
                  <div class="panel-body">
                            <!-- <input type="button" class="btn btn-success" value="Dashboard" style="margin-left: auto;" (click)="dashboard()"> -->
                      <div class="row">
                          <div class="col-md-12 md-offset-4">
                         
                            <div class="form-group">
  
                              <label for="bg">Batch</label>
                              <select class="form-control"  #batch  >
                                  <option disabled hidden>Enter Batch</option>
                                   <option  *ngFor="let c of col"  value="{{c}}" >{{c}}</option> 
                                    </select>

                          </div>
                          <div class="form-group">
                            <h6 *ngIf="pageCreated" class="alert alert-success" style="font-size: 12px; text-align: center;">Page Created Successfully</h6>
                            <button [disabled]='!form.valid '  class="btn btn-sm btn-success" (click)="pageCreation(batch.value)">Create Page </button>
              
                        </div>
                         
                           
                      </div>  
          
                </div>
               
                </div>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="dpage">
          <div class="container" style="margin-top: 1%;">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-heading " style="display: flex; flex-direction: row; background:#2c3e50;" >
                      <h1 style="color: white;">Delete Page</h1>
                     </div>
                  <div class="panel-body">
                            <!-- <input type="button" class="btn btn-success" value="Dashboard" style="margin-left: auto;" (click)="dashboard()"> -->
                      <div class="row">
                          <div class="col-md-12 md-offset-4">
                            <div class="form-group">
              
                              <label for="bg">Page</label>
                              <select class="form-control"  #page  >
                                  <option disabled hidden>Select Page</option>
                                   <option *ngFor="let p of pages"  value="{{p}}" >{{p}}</option> 
                                    </select>

                          </div> 
                          <div class="form-group">
                            <h6 *ngIf="pageDeleted" class="alert alert-success" style="font-size: 12px; text-align: center;">Page Deleted Successfully</h6>
                            <button type="submit"  class="btn btn-sm btn-danger" (click)="pageDeletion(page.value)">Delete Page</button>
    
                        </div>
                          
                      </div>  
          
                </div>
               
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
  </div>
</section>




  
