<div class="container">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Dashboard</strong></div>
        <div class="panel-body">
            <button  type="button" id="editInfo" (click)="setUpdateVisible()" class="btn btn-sm btn-info">Edit</button>
            <br><br>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                    <label for="roll">Roll No</label>
                    <input type="text" class="form-control" name="roll" id="roll" disabled>
                  </div>
                  <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control"  name="pass" id="pass"  disabled>
                </div>
                <div class="form-group">
                    <label for="prefix">Class Prefix</label>
                    <input type="text" class="form-control"  name="prefix" id="prefix"  disabled>
                </div>
                <div class="form-group">
                    <label for="batch">Batch</label>
                    <input type="text" class="form-control" name="batch" id="batch"  disabled placeholder="Ex. 18mxians">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" disabled>
                </div>
                <div class="form-group">
                    <label for="dob">Date Of Birth</label>
                    <input type="date" class="form-control" name="dob" id="dob" disabled>
                </div>
                    
               

            </div>  
            <div class="col-md-4">
                <div class="form-group">
                    <label for="fname">Father's Name</label>
                    <input type="text" class="form-control" name="fname" id="fname"  disabled>
                </div>
                <div class="form-group">
                    <label for="mname">Mother's Name</label>
                    <input type="text" class="form-control"  name="mname" id="mname"  disabled>
                </div>
    
                <div class="form-group">
                    <label for="class">Class</label>
                    <input type="text" class="form-control"  name="class" id="class"  disabled>
                </div>   
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <div class="radio">
                    <label><input type="radio" value="Male" id="gender" name="gender"  disabled>Male</label>
                    </div>
                    <div class="radio">
                    <label><input type="radio" value="Female" id="gender" name="gender" disabled>Female</label>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email"  disabled>
                </div>
                <div class="form-group">
                    <label for="adrs">Address</label>
                    <input type="text" class="form-control"  name="adrs" id="adrs"  disabled>
                </div>
                
            </div>
                
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="phno">Phone Number</label>
                    <input type="text" class="form-control"  name="phno" id="phno"  disabled>
                </div>
                <div class="form-group">
                    <label for="fac">Father's Annual Income</label>
                    <input type="text" class="form-control"  name="fac" id="fac"  disabled>
                </div>
                <div class="form-group">
                        <label for="religion">Religion</label>
                        <input type="text" class="form-control"  name="religion" id="religion"  disabled>
                    </div>
                    <div class="form-group">
                        <label for="caste">Caste</label>
                        <input type="text" class="form-control"  name="caste" id="caste"  disabled>
                    </div>
                    <div class="form-group">
                        <label for="bg">Blood Group</label>
                        <select class="form-control" id="bg" name="bg"  disabled>
                                <option ></option>
                              </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="updateInfo" style="visibility:hidden; " class="btn btn-sm btn-success">Update</button>
            
                    </div>
                    
                    
        </div>
       

      </div>
     
      
    </div>
  </div>
  