<div class="container" *ngIf="value" class="alert" > 
    <div class="card" style="width:50%;  ">
        <div class="card-body">
          <h3 class="card-title"><strong>Illegal Access</strong></h3>
          <p class="card-text">You Must Login to Access this content. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/alumnilogin" class="card-link">Login</a></p>
        </div>
      </div>
</div>

  <section *ngIf="!value">
    <div class="sideNavigation">
      <ul class="nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="showBlog()" >Blog</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  (click)="showProfile()">Profile</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="showChat()" >Chat</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="Logout()">Log Out</a></li>
     </ul>   
    </div>
    <div class="Contents">
      <div class="row">
        <div>
          <div *ngIf="profile">
            <h1 class="page-header">Alumni Profile  
            </h1>
            <ul class="list-group">
                <li class="list-group-item">Username : {{username}}</li>
                <li class="list-group-item">Email: {{email}} </li>
              </ul>
          </div>
          <div *ngIf="blog">
            <app-blog></app-blog>
          </div>
          <div *ngIf="chat">
            <app-chat></app-chat>
          </div>
        </div>
        </div>

    </div>
    <!-- <div class="row">
      <div class="col-sm-2">
        <nav class="navbar navbar-default"  >
             <div class="navbar-default sidebar" role="navigation" style="background:#2c3e50">
              <div class="sidebar-nav sidebar">
                <ul class="nav">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="showBlog()" >Blog</a></li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a  (click)="showProfile()">Profile</a></li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="showChat()" >Chat</a></li>
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="Logout()">Log Out</a></li>
             </ul>    
              </div>
          </div>
        </nav>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div>
            <div *ngIf="profile">
              <h1 class="page-header">Alumni Profile  
              </h1>
              <ul class="list-group">
                  <li class="list-group-item">Username : {{username}}</li>
                  <li class="list-group-item">Email: {{email}} </li>
                </ul>
            </div>
            <div *ngIf="blog">
              <app-blog></app-blog>
            </div>
            <div *ngIf="chat">
              <app-chat></app-chat>
            </div>
          </div>
          </div>
      </div>
    </div> -->
  </section>

