
<div class="container">

    <marquee style="color: red;">Don't Refresh this Page, until the Password gets Changed.</marquee>
    <div class="modal-content">
        <div class="modal-header">
            
            <h4 class="modal-title" style="text-align: center;"> <strong> Change Password </strong></h4>
        </div>
        <div class="modal-body">
            
            <form [formGroup] = "form" >
                <div class="form-group">
                    <label for="bg">Batch</label>
                    <select class="form-control" name="batch" formControlName="batch" #batch>
                        <option value="" disabled hidden>Select your Batch</option>
                         <option *ngFor="let c of col" value="{{c}}" >{{c}}</option> 
                          </select>
                </div> 
                <div class="form-group">
                    <label for="bg">Roll No</label>
                   <input type="text" class="form-control" placeholder="Roll No" value="" formControlName="rollno" #rollno>
                </div>
                <div class="form-group">
                    <label for="bg">Email Id</label>
                    <input type="text" class="form-control" placeholder="Email Id" value="" formControlName="email" #email>
                </div>
                <div class="form-group" style="text-align: center;" *ngIf="getC">
                    <button [disabled]="!form.valid"  class="btn btn-sm btn-info" (click)="getCode(batch.value,rollno.value,email.value)">Get Code</button>
                   <h6> <i>{{message}}</i> </h6>
                </div>
            </form>

            <form [formGroup] = "form1">
                <div class="form-group" *ngIf="codeGot">
                    <label for="bg">Code</label>
                    <input  type="number" class="form-control" formControlName="code" #code placeholder="Enter 6 Digit Code" >
                </div>
                <div class="form-group" style="text-align: center;"  *ngIf="codeGot">
                    <button  [disabled]="!form1.valid" class="btn btn-sm btn-info" (click)="verifyCode(form1)">Verify</button>
                    <h6> <i> {{message1}} </i> </h6>
                </div>
            </form>
              
            <form [formGroup] = "form2">
                <div class="form-group"  *ngIf="codeVerified">
                    <label for="bg">New Password</label>
                    <input type="password" class="form-control" formControlName="newPass" #newPass placeholder="New Password" >
                </div>
                <div class="form-group" style="text-align: center; "  *ngIf="codeVerified">
                    <button  [disabled]="!form2.valid" class="btn btn-sm btn-success" (click)="changePassword(form,form2)">Change Password</button>
                    <h6> <i> {{message2}} </i> </h6>
                    <div class="loader" *ngIf="loading" id="loader-4">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                </div>
            </form>
         </div>
         <div class="modal-footer">

        <!-- loader -->
        
       
             </div>
    </div>
   
</div>